Repository slick/slick, pull requests merged in 2023-01, with the labels that each got.

#2630 Update sbt to 1.8.2
  project/build.properties
Labels: build

#2619 Handle in-use count errors
  slick-testkit/src/test/scala/slick/test/jdbc/hikaricp/SlickInUseCountTest.scala
  slick/src/main/scala/slick/basic/BasicBackend.scala
  slick/src/main/scala/slick/jdbc/JdbcBackend.scala
  slick/src/main/scala/slick/util/AsyncExecutor.scala
  slick/src/main/scala/slick/util/ManagedArrayBlockingQueue.scala
Labels: improvement, release-highlight

#2632 Publish with JDK 8 again
  .github/workflows/ci.yml
Labels: build

#2560 Fix SQL Server tests. Drops JTDS
  README.md
  build.sbt
  project/Dependencies.scala
  slick-testkit/src/codegen/scala/slick/test/codegen/GenerateMainSources.scala
  slick-testkit/src/main/resources/testkit-reference.conf
  slick-testkit/src/main/scala/com/typesafe/slick/testkit/tests/JdbcTypeTest.scala
  slick-testkit/src/main/scala/com/typesafe/slick/testkit/tests/ModelBuilderTest.scala
  slick-testkit/src/main/scala/com/typesafe/slick/testkit/util/StandardTestDBs.scala
  slick-testkit/src/main/scala/com/typesafe/slick/testkit/util/TestCodeGenerator.scala
  slick-testkit/src/test/scala/slick/test/codegen/CodeGenRoundTrip3Test.scala
  slick-testkit/src/test/scala/slick/test/codegen/CodeGenRoundTripTest.scala
  slick-testkit/src/test/scala/slick/test/codegen/CodeGeneratorAllTest.scala
  slick-testkit/src/test/scala/slick/test/profile/ProfileTest.scala
  slick/src/main/scala/slick/jdbc/JdbcCapabilities.scala
  slick/src/main/scala/slick/jdbc/SQLServerProfile.scala
  test-dbs/README.md
  test-dbs/testkit.github-actions.conf
Labels: topic:driver, build, release-highlight
